<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-6 col-sm-12">
      <div class="card">
        <div class="card-header">
          <strong>Adicionar Canal</strong>
        </div>
        <div class="card-block">
          <!--/.row-->
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="name">Nome</label>
                <input type="text" class="form-control" id="name" placeholder="Introduza o nome do canal">
              </div>
            </div>
          </div>
          <!--/.row-->
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="nif">Descrição do Canal</label>
                <input type="text" class="form-control" id="descricao" placeholder="Introduza uma descrição do canal">
              </div>
            </div>
          </div>
          <!--/.row-->
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="name">Seleccionar conteúdo <span class="badge badge-primary">Meteorologia</span></label>
                <select id="select" name="select" class="form-control" size="1">
                  <option value="0">Escolher conteúdo</option>
                  <option value="1">Conteúdo #1</option>
                  <option value="2">Conteúdo #2</option>
                  <option value="3">Conteúdo #3</option>
                  <option value="4">Conteúdo #4</option>
                </select>
              </div>
            </div>
          </div>
          <!--/.row-->
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="name">Seleccionar conteúdo <span class="badge badge-primary">Imagens</span></label>
                <select id="select" name="select" class="form-control" size="1">
                  <option value="0">Escolher conteúdo</option>
                  <option value="1">Conteúdo #1</option>
                  <option value="2">Conteúdo #2</option>
                  <option value="3">Conteúdo #3</option>
                  <option value="4">Conteúdo #4</option>
                </select>
              </div>
            </div>
          </div>
          <!--/.row-->
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="name">Seleccionar conteúdo <span class="badge badge-primary">Vídeo</span></label>
                <select id="select" name="select" class="form-control" size="1">
                  <option value="0">Escolher conteúdo</option>
                  <option value="1">Conteúdo #1</option>
                  <option value="2">Conteúdo #2</option>
                  <option value="3">Conteúdo #3</option>
                  <option value="4">Conteúdo #4</option>
                </select>
              </div>
            </div>
          </div>
          <!--/.row-->
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="name">Seleccionar conteúdo <span class="badge badge-primary">Feed RSS</span></label>
                <select id="select" name="select" class="form-control" size="1">
                  <option value="0">Escolher conteúdo</option>
                  <option value="1">Conteúdo #1</option>
                  <option value="2">Conteúdo #2</option>
                  <option value="3">Conteúdo #3</option>
                  <option value="4">Conteúdo #4</option>
                </select>
              </div>
            </div>
          </div>
          <!--/.row-->
          <div class="row">
            <div class="col-sm-12">
                <button type="button" class="btn btn-outline-success btn-lg btn-block">Submeter</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--/.col-->

    <div class="col-lg-6 col-sm-12">
      <div class="card">
        <div class="card-header">
          <strong>Editar Canal</strong>
        </div>
        <div class="card-block">
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="name">Seleccionar canal a editar</label>
                <select id="select" name="select" class="form-control" size="1">
                  <option value="0">Escolher canal</option>
                  <option value="1">Canal #1</option>
                  <option value="2">Canal #2</option>
                  <option value="3">Canal #3</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="name">Nome</label>
                <input type="text" class="form-control" id="name" placeholder="Introduza o nome do canal">
              </div>
            </div>
          </div>
          <!--/.row-->
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="nif">Descrição do Canal</label>
                <input type="text" class="form-control" id="descricao" placeholder="Introduza uma descrição do canal">
              </div>
            </div>
          </div>
          <!--/.row-->
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="name">Seleccionar conteúdo <span class="badge badge-primary">Meteorologia</span></label>
                <select id="select" name="select" class="form-control" size="1">
                  <option value="0">Escolher conteúdo</option>
                  <option value="1">Conteúdo #1</option>
                  <option value="2">Conteúdo #2</option>
                  <option value="3">Conteúdo #3</option>
                  <option value="4">Conteúdo #4</option>
                </select>
              </div>
            </div>
          </div>
          <!--/.row-->
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="name">Seleccionar conteúdo <span class="badge badge-primary">Imagens</span></label>
                <select id="select" name="select" class="form-control" size="1">
                  <option value="0">Escolher conteúdo</option>
                  <option value="1">Conteúdo #1</option>
                  <option value="2">Conteúdo #2</option>
                  <option value="3">Conteúdo #3</option>
                  <option value="4">Conteúdo #4</option>
                </select>
              </div>
            </div>
          </div>
          <!--/.row-->
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="name">Seleccionar conteúdo <span class="badge badge-primary">Vídeo</span></label>
                <select id="select" name="select" class="form-control" size="1">
                  <option value="0">Escolher conteúdo</option>
                  <option value="1">Conteúdo #1</option>
                  <option value="2">Conteúdo #2</option>
                  <option value="3">Conteúdo #3</option>
                  <option value="4">Conteúdo #4</option>
                </select>
              </div>
            </div>
          </div>
          <!--/.row-->
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="name">Seleccionar conteúdo <span class="badge badge-primary">Feed RSS</span></label>
                <select id="select" name="select" class="form-control" size="1">
                  <option value="0">Escolher conteúdo</option>
                  <option value="1">Conteúdo #1</option>
                  <option value="2">Conteúdo #2</option>
                  <option value="3">Conteúdo #3</option>
                  <option value="4">Conteúdo #4</option>
                </select>
              </div>
            </div>
          </div>
          <!--/.row-->
          <div class="row">
            <div class="col-sm-12">
                <button type="button" class="btn btn-outline-success btn-lg btn-block">Submeter</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--/.col-->

    <div class="col-lg-6 col-sm-12">
      <div class="card">
        <div class="card-header">
          <strong>Remover Canal</strong>
        </div>
        <div class="card-block">
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="name">Seleccionar canal a remover</label>
                <select id="select" name="select" class="form-control" size="1">
                  <option value="0">Escolher canal</option>
                  <option value="1">Canal #1</option>
                  <option value="2">Canal #2</option>
                  <option value="3">Canal #3</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
                <button type="button" class="btn btn-outline-danger btn-lg btn-block">Remover</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>
