<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-6 col-sm-12">
      <div class="card">
        <div class="card-header">
          <strong>Adicionar Cliente</strong>
        </div>
        <div class="card-block">
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="name">Nome</label>
                <input type="text" class="form-control" id="name" placeholder="Introduza o nome do cliente">
              </div>
            </div>
          </div>
          <!--/.row-->
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="nif">NIF</label>
                <input type="text" class="form-control" id="nif" placeholder="0000 0000 0000 0000">
              </div>
            </div>
          </div>
          <!--/.row-->
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="email">Email</label>
                <input type="text" class="form-control" id="email" placeholder="exemplo@mail.com">
              </div>
            </div>
          </div>
          <!--/.row-->
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Introduza uma palavra-passe segura">
              </div>
            </div>
          </div>
          <!--/.row-->
          <div class="row">
            <div class="col-sm-12">
                <button type="button" class="btn btn-outline-success btn-lg btn-block">Submeter</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--/.col-->

    <div class="col-lg-6 col-sm-12">
      <div class="card">
        <div class="card-header">
          <strong>Editar Cliente</strong>
        </div>
        <div class="card-block">
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="name">Seleccionar cliente a editar</label>
                <select id="select" name="select" class="form-control" size="1">
                  <option value="0">Escolher cliente</option>
                  <option value="1">Cliente #1</option>
                  <option value="2">Cliente #2</option>
                  <option value="3">Cliente #3</option>
                </select>
              </div>
            </div>
          </div>
          <!--/.row-->
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="name">Nome</label>
                <input type="text" class="form-control" id="name" placeholder="Introduza o nome do cliente">
              </div>
            </div>
          </div>
          <!--/.row-->
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="nif">NIF</label>
                <input type="text" class="form-control" id="nif" placeholder="0000 0000 0000 0000">
              </div>
            </div>
          </div>
          <!--/.row-->
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="email">Email</label>
                <input type="text" class="form-control" id="email" placeholder="exemplo@mail.com">
              </div>
            </div>
          </div>
          <!--/.row-->
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Introduza uma palavra-passe segura">
              </div>
            </div>
          </div>
          <!--/.row-->
          <div class="row">
            <div class="col-sm-12">
                <button type="button" class="btn btn-outline-success btn-lg btn-block">Submeter</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--/.col-->

    <div class="col-lg-6 col-sm-12">
      <div class="card">
        <div class="card-header">
          <strong>Remover Cliente</strong>
        </div>
        <div class="card-block">
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="name">Seleccionar cliente a remover</label>
                <select id="select" name="select" class="form-control" size="1">
                  <option value="0">Escolher cliente</option>
                  <option value="1">Cliente #1</option>
                  <option value="2">Cliente #2</option>
                  <option value="3">Cliente #3</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
                <button type="button" class="btn btn-outline-danger btn-lg btn-block">Remover</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>
