<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-6 col-sm-12">
      <div class="card">
        <div class="card-header">
          <strong>Adicionar Conteúdo</strong>
        </div>
        <div class="card-block">
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="name">Seleccionar tipo de conteúdo</label>
                <select id="select" name="select" class="form-control" size="1">
                  <option value="0">Escolher tipo</option>
                  <option value="1">Meteorologia</option>
                  <option value="2">Imagens</option>
                  <option value="3">Vídeo</option>
                  <option value="4">Feed RSS</option>
                </select>
              </div>
            </div>
          </div>
          <!--/.row-->
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="name">Nome</label>
                <input type="text" class="form-control" id="name" placeholder="Introduza o nome do conteúdo">
              </div>
            </div>
          </div>
          <!--/.row-->
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="nif">Endereço p/ Conteúdo</label>
                <input type="text" class="form-control" id="descricao" placeholder="Introduza um link válido para o fornecedor de dados">
              </div>
            </div>
          </div>
          <!--/.row-->
          <div class="row">
            <div class="col-sm-12">
                <button type="button" class="btn btn-outline-success btn-lg btn-block">Submeter</button>
            </div>
          </div>
          <!--/.row-->
        </div>
      </div>
    </div>
    <!--/.col-->

    <div class="col-lg-6 col-sm-12">
      <div class="card">
        <div class="card-header">
          <strong>Editar Conteúdo</strong>
        </div>
        <div class="card-block">
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="name">Seleccionar conteúdo a editar</label>
                <select id="select" name="select" class="form-control" size="1">
                  <option value="0">Escolher conteúdo</option>
                  <option value="1">Conteúdo #1</option>
                  <option value="2">Conteúdo #2</option>
                  <option value="3">Conteúdo #3</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="name">Seleccionar tipo de conteúdo</label>
                <select id="select" name="select" class="form-control" size="1">
                  <option value="0">Escolher tipo</option>
                  <option value="1">Meteorologia</option>
                  <option value="2">Imagens</option>
                  <option value="3">Vídeo</option>
                  <option value="4">Feed RSS</option>
                </select>
              </div>
            </div>
          </div>
          <!--/.row-->
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="name">Nome</label>
                <input type="text" class="form-control" id="name" placeholder="Introduza o nome do conteúdo">
              </div>
            </div>
          </div>
          <!--/.row-->
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="nif">Endereço p/ Conteúdo</label>
                <input type="text" class="form-control" id="descricao" placeholder="Introduza um link válido para o fornecedor de dados">
              </div>
            </div>
          </div>
          <!--/.row-->
          <div class="row">
            <div class="col-sm-12">
                <button type="button" class="btn btn-outline-success btn-lg btn-block">Submeter</button>
            </div>
          </div>
          <!--/.row-->
        </div>
      </div>
    </div>
    <!--/.col-->

    <div class="col-lg-6 col-sm-12">
      <div class="card">
        <div class="card-header">
          <strong>Remover Conteúdo</strong>
        </div>
        <div class="card-block">
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="name">Seleccionar conteúdo a remover</label>
                <select id="select" name="select" class="form-control" size="1">
                  <option value="0">Escolher conteúdo</option>
                  <option value="1">Conteúdo #1</option>
                  <option value="2">Conteúdo #2</option>
                  <option value="3">Conteúdo #3</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
                <button type="button" class="btn btn-outline-danger btn-lg btn-block">Remover</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>
