<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-6 col-sm-12">
      <div class="card">
        <div class="card-header">
          <strong>Adicionar Player</strong>
        </div>
        <div class="card-block">
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="name">Nome</label>
                <input type="text" class="form-control" id="name" placeholder="Introduza o nome do player">
              </div>
            </div>
          </div>
          <!--/.row-->
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="nif">Descrição</label>
                <input type="text" class="form-control" id="descricao" placeholder="Introduza a descrição do player">
              </div>
            </div>
          </div>
          <!--/.row-->
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="nif">Latitude</label>
                <input type="text" class="form-control" id="latitude" placeholder="Introduza a latitude do player">
              </div>
            </div>
          </div>
          <!--/.row-->
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="nif">Longitude</label>
                <input type="text" class="form-control" id="longitude" placeholder="Introduza a longitude do player">
              </div>
            </div>
          </div>
          <!--/.row-->
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="name">Seleccionar canal sintonizado</label>
                <select id="select" name="select" class="form-control" size="1">
                  <option value="0">Escolher canal</option>
                  <option value="1">Canal #1</option>
                  <option value="2">Canal #2</option>
                  <option value="3">Canal #3</option>
                </select>
              </div>
            </div>
          </div>
          <!--/.row-->
          <div class="row">
            <div class="col-sm-12">
                <button type="button" class="btn btn-outline-success btn-lg btn-block">Submeter</button>
            </div>
          </div>
          <!--/.row-->
        </div>
      </div>
    </div>
    <!--/.col-->

    <div class="col-lg-6 col-sm-12">
      <div class="card">
        <div class="card-header">
          <strong>Editar Player</strong>
        </div>
        <div class="card-block">
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="name">Seleccionar player a editar</label>
                <select id="select" name="select" class="form-control" size="1">
                  <option value="0">Escolher player</option>
                  <option value="1">Player #1</option>
                  <option value="2">Player #2</option>
                  <option value="3">Player #3</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="name">Nome</label>
                <input type="text" class="form-control" id="name" placeholder="Introduza o nome do player">
              </div>
            </div>
          </div>
          <!--/.row-->
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="nif">Descrição</label>
                <input type="text" class="form-control" id="descricao" placeholder="Introduza a descrição do player">
              </div>
            </div>
          </div>
          <!--/.row-->
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="nif">Latitude</label>
                <input type="text" class="form-control" id="latitude" placeholder="Introduza a latitude do player">
              </div>
            </div>
          </div>
          <!--/.row-->
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="nif">Longitude</label>
                <input type="text" class="form-control" id="longitude" placeholder="Introduza a longitude do player">
              </div>
            </div>
          </div>
          <!--/.row-->
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="name">Seleccionar canal sintonizado</label>
                <select id="select" name="select" class="form-control" size="1">
                  <option value="0">Escolher canal</option>
                  <option value="1">Canal #1</option>
                  <option value="2">Canal #2</option>
                  <option value="3">Canal #3</option>
                </select>
              </div>
            </div>
          </div>
          <!--/.row-->
          <div class="row">
            <div class="col-sm-12">
                <button type="button" class="btn btn-outline-success btn-lg btn-block">Submeter</button>
            </div>
          </div>
          <!--/.row-->
        </div>
      </div>
    </div>
    <!--/.col-->

    <div class="col-lg-6 col-sm-12">
      <div class="card">
        <div class="card-header">
          <strong>Remover Player</strong>
        </div>
        <div class="card-block">
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="name">Seleccionar player a remover</label>
                <select id="select" name="select" class="form-control" size="1">
                  <option value="0">Escolher player</option>
                  <option value="1">Player #1</option>
                  <option value="2">Player #2</option>
                  <option value="3">Player #3</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
                <button type="button" class="btn btn-outline-danger btn-lg btn-block">Remover</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>
