<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-6 col-sm-12">
      <div class="card">
        <div class="card-header">
          <strong>Adicionar Rede de Players</strong>
        </div>
        <div class="card-block">
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="name">Nome</label>
                <input type="text" class="form-control" id="name" placeholder="Introduza o nome da rede">
              </div>
            </div>
          </div>
          <!--/.row-->
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="nif">Descrição</label>
                <input type="text" class="form-control" id="nif" placeholder="Introduza a descrição da rede">
              </div>
            </div>
          </div>
          <!--/.row-->
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="name">Seleccionar gestor de rede</label>
                <select id="select" name="select" class="form-control" size="1">
                  <option value="0">Escolher cliente</option>
                  <option value="1">Cliente #1</option>
                  <option value="2">Cliente #2</option>
                  <option value="3">Cliente #3</option>
                </select>
              </div>
            </div>
          </div>
          <!--/.row-->
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="name">Seleccionar players atribuídos</label>
                <div class="form-group">
                <select id="select" name="select" class="form-control" size="1">
                  <option value="0">Escolher player</option>
                  <option value="1">Player #1</option>
                  <option value="2">Player #2</option>
                  <option value="3">Player #3</option>
                </select>
                </div>
                <div class="form-group">
                <select id="select" name="select" class="form-control" size="1">
                  <option value="0">Escolher player</option>
                  <option value="1">Player #1</option>
                  <option value="2">Player #2</option>
                  <option value="3">Player #3</option>
                </select>
                </div>
                <div class="form-group">
                <select id="select" name="select" class="form-control" size="1">
                  <option value="0">Escolher player</option>
                  <option value="1">Player #1</option>
                  <option value="2">Player #2</option>
                  <option value="3">Player #3</option>
                </select>
                </div>
                <div class="form-group">
                <select id="select" name="select" class="form-control" size="1">
                  <option value="0">Escolher player</option>
                  <option value="1">Player #1</option>
                  <option value="2">Player #2</option>
                  <option value="3">Player #3</option>
                </select>
                </div>
                <div class="form-group">
                <select id="select" name="select" class="form-control" size="1">
                  <option value="0">Escolher player</option>
                  <option value="1">Player #1</option>
                  <option value="2">Player #2</option>
                  <option value="3">Player #3</option>
                </select>
                </div>
                <div class="form-group">
                <select id="select" name="select" class="form-control" size="1">
                  <option value="0">Escolher player</option>
                  <option value="1">Player #1</option>
                  <option value="2">Player #2</option>
                  <option value="3">Player #3</option>
                </select>
                </div>
              </div>
            </div>
          </div>
          <!--/.row-->
          <div class="row">
            <div class="col-sm-12">
                <button type="button" class="btn btn-outline-success btn-lg btn-block">Submeter</button>
            </div>
          </div>
          <!--/.row-->
        </div>
      </div>
    </div>
    <!--/.col-->

    <div class="col-lg-6 col-sm-12">
      <div class="card">
        <div class="card-header">
          <strong>Editar Rede de Players</strong>
        </div>
        <div class="card-block">
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="name">Seleccionar rede a editar</label>
                <select id="select" name="select" class="form-control" size="1">
                  <option value="0">Escolher rede</option>
                  <option value="1">Rede #1</option>
                  <option value="2">Rede #2</option>
                  <option value="3">Rede #3</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="name">Nome</label>
                <input type="text" class="form-control" id="name" placeholder="Introduza o nome da rede">
              </div>
            </div>
          </div>
          <!--/.row-->
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="nif">Descrição</label>
                <input type="text" class="form-control" id="nif" placeholder="Introduza a descrição da rede">
              </div>
            </div>
          </div>
          <!--/.row-->
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="name">Seleccionar gestor de rede</label>
                <select id="select" name="select" class="form-control" size="1">
                  <option value="0">Escolher cliente</option>
                  <option value="1">Cliente #1</option>
                  <option value="2">Cliente #2</option>
                  <option value="3">Cliente #3</option>
                </select>
              </div>
            </div>
          </div>
          <!--/.row-->
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="name">Seleccionar players atribuídos</label>
                <div class="form-group">
                <select id="select" name="select" class="form-control" size="1">
                  <option value="0">Escolher player</option>
                  <option value="1">Player #1</option>
                  <option value="2">Player #2</option>
                  <option value="3">Player #3</option>
                </select>
                </div>
                <div class="form-group">
                <select id="select" name="select" class="form-control" size="1">
                  <option value="0">Escolher player</option>
                  <option value="1">Player #1</option>
                  <option value="2">Player #2</option>
                  <option value="3">Player #3</option>
                </select>
                </div>
                <div class="form-group">
                <select id="select" name="select" class="form-control" size="1">
                  <option value="0">Escolher player</option>
                  <option value="1">Player #1</option>
                  <option value="2">Player #2</option>
                  <option value="3">Player #3</option>
                </select>
                </div>
                <div class="form-group">
                <select id="select" name="select" class="form-control" size="1">
                  <option value="0">Escolher player</option>
                  <option value="1">Player #1</option>
                  <option value="2">Player #2</option>
                  <option value="3">Player #3</option>
                </select>
                </div>
                <div class="form-group">
                <select id="select" name="select" class="form-control" size="1">
                  <option value="0">Escolher player</option>
                  <option value="1">Player #1</option>
                  <option value="2">Player #2</option>
                  <option value="3">Player #3</option>
                </select>
                </div>
                <div class="form-group">
                <select id="select" name="select" class="form-control" size="1">
                  <option value="0">Escolher player</option>
                  <option value="1">Player #1</option>
                  <option value="2">Player #2</option>
                  <option value="3">Player #3</option>
                </select>
                </div>
              </div>
            </div>
          </div>
          <!--/.row-->
          <div class="row">
            <div class="col-sm-12">
                <button type="button" class="btn btn-outline-success btn-lg btn-block">Submeter</button>
            </div>
          </div>
          <!--/.row-->
        </div>
      </div>
    </div>
    <!--/.col-->

    <div class="col-lg-6 col-sm-12">
      <div class="card">
        <div class="card-header">
          <strong>Remover Rede de Players</strong>
        </div>
        <div class="card-block">
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="name">Seleccionar rede a remover</label>
                <select id="select" name="select" class="form-control" size="1">
                  <option value="0">Escolher rede</option>
                  <option value="1">Rede #1</option>
                  <option value="2">Rede #2</option>
                  <option value="3">Rede #3</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
                <button type="button" class="btn btn-outline-danger btn-lg btn-block">Remover</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>
